/* PERFORMANCE Cancel animation on menu toggle */

.ant-layout-sider-trigger {
    transition: all 0s !important
}

.customTabHidden .ant-tabs-bar {
    display: none !important;
}

.ant-slider-handle {
    transform: translateX(-50%) scale(1.3) !important;
}

.high-priority .ant-slider-handle-2 {
    visibility: hidden;
}

.low-priority .ant-slider-handle-1 {
    visibility: hidden;
}