/* FIX react-datepicker inherit line-height from Ant Design */

.ant-form-item-children>.react-datepicker-popper {
    line-height: normal !important;
}

/* FIX react-datepicker falling under Ant Design -> Collapse component */

.ant-collapse-content-active {
    overflow: visible !important;
}

/* change color of the selected date */

.react-datepicker__day--selected {
    color: white !important;
    font-weight: 900 !important;
    text-decoration: underline !important;
}

/* change color of the selected date _initial */

.react-datepicker__day--keyboard-selected {
    color: white !important;
    font-weight: 900 !important;
    text-decoration: underline !important;
}